numpy==1.22.2
matplotlib==3.5.1
pillow==9.0.1
scikit-learn==1.0.2
scipy==1.8.0
scikit-image==0.18.3
gym==0.12.0
sacred==0.8.2
incense==0.0.11
jupyter==1.0.0
torch==1.10.2
torchvision==0.11.3
torchaudio==0.10.2
PyQt5==5.15.6
h5py==3.6.0